# Core functionality - changes here should be rare!
/src/app.py                   @Menayer
/src/backend/database.py      @Menayer
/src/backend/routers/auth.py  @Menayer

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Menayer
